<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <p><form method = "POST" action = "/piglatinize"></p>
    <p></p>
    <p>Enter your phrase: <input type = "text" name = "user_phrase"></p>
    <p><button type = "submit" value = "submit">Submit</button></p>
      </form>

  </body>
</html>
