<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <form method="POST" action="/piglatinize" id="form1">
	<p>Enter Enter your phrase: <input type="text" name="user_phrase"></p>
    </form>
    <button type="submit" value="submit" form="form1">Submit</button>
  
  </body>
</html>
